.Header {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "left title title right";
  align-items: center;
}

.left {
  justify-self: left;

  font-size: 24px;
}

.title {
  grid-area: title;
  justify-self: center;

  font-weight: 600;
  font-size: 20px;
}

.right {
  justify-self: right;
}
