body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  margin: 0;
  padding: 0;
}

.no-list {
  list-style: none;
  padding: 0;
}

.with-background {
  background-image: url("./receipt@3x.png");
  background-repeat: repeat;
  background-size: 17px 17px;
}

.is-stretched {
  min-height: 100vh;
}

.is-keyboard-accessory {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 5px 15px;
  background: #fff;
}
